$color-menu-bg: #E5E5FC;

body {
   margin: 0px;
   overflow: hidden;
}

#main {
    width:100%;
    height:100%;
    background-color: #D3D3DE;
    /* border: solid 3px #555; */

}

#tabselector {
    width: 50px;
    height: 100%;
    float:left;
    //background-color: #A8A8BD;
    background-color: $color-menu-bg;
    font-size:22px;
    font-family: Helvetica;
    user-select:none;
}

#menu {
    width: 160px;
    height: calc(100% - 15px);
    float:left;
    background-color: $color-menu-bg;
    font-size:22px;
    font-family: Helvetica;
    user-select:none;
    padding: 7.5px 10px;
    display: block;
}

#menu_expander {
  width:10px;
  height:100%;
  float:left;
  margin-left: -10px;
}

#menu_expander_handle {
  width: 200%;
  height:30px;
  margin-top:calc(50vh - 15px);
  cursor: pointer;
}

#menu_expander_handle > svg {
    height: 30px;
    width: 20px;
}

#right_menu_expander {
  width: 10px;
  height: 100%;
  float: right;
  background: #E5E5FC;
  margin-right: -10px;
}

#right_menu_expander_handle {
  width: 200%;
  height:30px;
  margin-top:calc(50vh - 15px);
  cursor: pointer;
  float:right;
}

#right_menu_expander_handle > svg {
    height: 30px;
    width: 20px;
}

#paramshell {
    width: 180px;
    height: 100%;
    float:right;
    background-color: $color-menu-bg;
    font-size:18px;
    font-family: Helvetica;
    user-select:none;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

#blanktab {
    min-height: calc(25% - 100px);
    width: 100%;
    background-color: #A8A8BD;
}

#middleblanktab {
    min-height: calc(75% - 200px);
    width: 100%;
    vertical-align: middle;
    background-color: #A8A8BD;
    float:left;
}

#bottomblanktab {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: #A8A8BD;
    float:left;
}

.icon{
    padding-top: 23;
    padding-left: 1;
}

.tab{
    vertical-align: middle;
    line-height: 70px;
    width: 50px;
    height: 70px;
    text-align: center;
    float:left;
    font-size:22px;
    font-family: Helvetica;
    cursor:pointer;
    user-select:none;
    background-color: #A8A8BD;
}

.tab:hover {
    background-color: #C7C7E0;
}

.tab-selected {
    background-color: $color-menu-bg;
}

.category{
    padding-bottom: 15px;
    width:100%;
}

.categoryTitle {
    background: #555;
    text-align: center;
    height:35px;
    line-height: 35px;
    color: #eee;
    font-size:22px;
    font-family: Helvetica;
    
    cursor: pointer;
}

.categoryTitleText {
    position:relative;
    float:left;
    margin-left:10px;
    margin-top:2px;
}

.trainbox {
    text-align: center;
    margin-top: 20px;
    width:180px;
    height:70px;
    line-height: 50px;
    font-size:22px;
    font-family: Helvetica;
}

.train {
    background: #447344;
    color: #eee;
    text-align:center;
    height:50px;
    line-height:50px;
    font-size:24px;
    font-family: Helvetica;
    border-radius: 6px;
    cursor:pointer;
}

.train:hover {
    background-color: #00008B;
}

.train-active {
   background: #00008B;
}
.expander {
    float:right;
    margin-top:5px;
    margin-right:5px;
}
.expanded{
    float:right;
    margin-top:5px;
    margin-right:5px;
    transform: rotate(180deg)
}

.bottomCategory{
    position: absolute;
    bottom: 10px;
    width: 160px;
    padding-bottom: 15px;
}

.category{
    padding-bottom: 20px;
    width:100%;
}

.parambox{
    width:calc(197px - 20px);
    padding-left: 10px;
    padding-right:10px;
    padding-top: 20px;
    text-align: center;
}

.paramline{
    width:100%;
    text-align:left;
    height:30px;
    line-height:30px;
    font-size:22px;
    font-family: Helvetica;
    background-color: transparent;
    user-select:none;
}

.paramname{
    text-align:left;
    height:100%;
    font-size:16px;
    font-family: Helvetica;
    background-color: transparent;
    user-select:none;
    float:left;
}

.layerparamvalue {
    margin-top: 5px
}

.paramvalue{
    width:30%;
    text-align:center;
    height:20px;
    font-size:16px;
    font-family: Helvetica;
    margin-right: 10px;
    float:right;
}

.option:hover {
    background-color: #ccc;
}

.option {
    width:calc(100% - 20px);
    text-align: left;
    border-bottom: 1px solid gray;
    height:30px;
    line-height:30px;
    font-size:18px;
    font-family: Helvetica;
    cursor:pointer;

    padding: 10px 10px 0px 10px;

    background-color: transparent;
    user-select:none;


}

.last-dropdown {
    border-bottom: 0px;
}

.right-option {
    width:calc(100% - 30px);
    padding: 10px 0px 0px 10px;
    margin: 0px 10px 0px 10px;
}

div.option.selected {
    background-color: #C4B7D1;

 }

div.top_neighbor_tab-selected {
    border-bottom-right-radius: 5px;
}

 div.bottom_neighbor_tab-selected {
    border-top-right-radius: 5px;
 }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 6px;
    float: right;
    display: none;
    position: fixed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: $color-menu-bg;
    border: 1px solid rgba(128, 128, 128, 0.5);

}
.left {
    left: 218px;
    margin-top: -11px;
}


.dropdown:hover .dropdown-content {display: block;}

.toggle {
    width: calc(100% - 10px);
    height: 30px;
    line-height: 30px;
    padding-top: 10px;
    padding-left:5px;
    padding-right:5px;
}

.toggleOption {
    float:left;
    width: calc(50% - 10px);
    text-align: center;
    height: 100%;
    cursor: pointer;

    margin-left: 5px;
    margin-right: 5px
}

#middle {
    position: relative;
    float: left;
    width : calc(100% - 430px);
    height: 100%;
}


#svg {
    width: 1000px;
    height: 100%;
    background: #e3e3eE;
}

#networkTab {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#progressTab {
    width: calc(100% - 20px);
    grid-column-gap: 20px;
    box-sizing: border-box;
    padding: 10px;
    height: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

#visualizationTab {
    width: 100%;
    height: 100%;
}

#images {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:  repeat(6, 1fr);
    width: 100%;
    height: 100%;
}

.informationRow {
    display: flex;
}
.informationColumn {
    font-size: 36;
    cursor: pointer;
    float: left;
    width: 49%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(168,168,189,0.85);
}

.informationBlankColumn {
    float: left;
    height: 10%;
    width: 2%;
}

.informationColumn:hover {
    background-color: rgba(168,168,189,0.5);
}

a.overlayLinks {
    color: lightblue;
}

#informationOverlay {
    position: fixed;
    padding: 5%;
    text-align: center;
    color: $color-menu-bg;
    font-size: 48;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);

    cursor: pointer;
    font-family: Helvetica;
    z-index: 9999;
}

#loadingDataTab {
    position: fixed;
    padding: 5%;
    text-align: center;
    color: $color-menu-bg;
    font-size: 48;
    width: 90%;
    height: 85%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-family: Helvetica;
    z-index: 9999;
}

#acknowledgements {
    text-align: left;
    font-size: 18;
    display: inline-block;
    padding: 3%;
    cursor: pointer;
    font-family: Helvetica;
}

#informationBody {
    text-align: center;
    color: $color-menu-bg;
    font-size: 24;
    font-family: Helvetica;
    padding-bottom: 5%;
}

#educationTab {
    width: calc(100% - 50px);
    height: 100%;
    background: #F1FAFF;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    overflow-y : auto;
}

.educationTitle {
    font-size: 40;
    text-align: center;
    padding-bottom: 30px;
    font-family: Helvetica;
    font-weight: bolder;
}

.educationSection {
    font-size: 30;
    line-height: 1.7em;
    font-family: Helvetica;
    font-weight: bold;
}

.educationContent {
    font-size: 18;
    word-wrap: break-word;
    line-height: 1.7em;
    font-family: Helvetica;
}

.educationVideo {
    // margin-right: 5%;
    // object-fit: contain;
    padding: 20px;
    width: 30%;
    height: 25%;
    display: table;
    margin: 0 auto;
    // text-align: left;
    overflow:hidden !important;
}

#error {
    width: 200px;
    position: absolute;
    padding: 20px 5px 5px 5px;
    bottom: 10px;
    right: 20px;
    background-color: #dca7a7;
    border-style: solid;
    border-width: 3px;
    border-color: #555;
}

#x {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

#errorMessage {
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

label {
    display: inline-block;
    width: 250px;
    padding: 6px 0 6px 0;
}

.canvases {
    display: inline-block;
}

#loss-canvas {
    grid-column: 1;
    grid-row: 1;
}

#accuracy-canvas {
    grid-column: 1;
    grid-row: 2;
}

#confusion-matrix-canvas {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
}

.prediction-canvas {
    width: 100%;
}

.pred {
    font-size: 1.2vw;
    line-height: 1.5vw;
    width: 100%;
    font-family: Helvetica;
    text-align: center;
}

.pred-correct {
    background-color: #79BD8F;
}

.pred-none {
    background-color: #aaa;
}

.pred-incorrect {
    background-color: #FF6138
}

.pred-container {
    display: inline-block;
    margin: 13%;
}

.selectline {
    margin-bottom: 10px;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    width: 50%;
    margin-right: 10px;
    float: right;
  }
  .select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #ccc;
    color: #000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .select select::-ms-expand {
    display: none;
  }
  .select select:hover,
  .select select:focus {
    color: #000;
    background: #bbb;
  }
  .select select:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .select__arrow {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
  }
  .select select:hover ~ .select__arrow,
  .select select:focus ~ .select__arrow {
    border-top-color: #000;
  }
  .select select:disabled ~ .select__arrow {
    border-top-color: #000;
  }