body {
   margin: 0px;
}

#main {
	width:100%;
	height:100%;
	background-color: #D3D3DE;
	/* border: solid 3px #555; */
}

#main > #menu {
	width: 200px;
	height: 100%;
	float:left;
	background-color: #E5E5FC;
	/* border-right:solid 3px #555; */
	font-size:22px;
	font-family: Helvetica;
	user-select:none;
}

#main > #paramshell {
	width: 200px;
	height: 100%;
	float:right;
	background-color: #E5E5FC;
	/* border-left:solid 3px #555; */
	font-size:18px;
	font-family: Helvetica;
	user-select:none;
}

#main > #paramshell > .category{
	padding-bottom: 15px;
	width:100%;
}

#main > #paramshell > .category > .categoryTitle {
	background: #555;
	text-align: center;
	height:35px;
	line-height: 35px;
	color: #eee;
	font-size:22px;
	font-family: Helvetica;
}

#main > #paramshell > .trainbox {
	text-align: center;
	margin-top: 20px;
	margin-left: 18px;
	margin-right: 10px;
	width:160px;
	height:70px;
	line-height: 50px;
	font-size:22px;
	font-family: Helvetica;
}

#main > #paramshell > .trainbox > .train {
	background: #447344;
	color: #eee;
	text-align:center;
	height:50px;
	line-height:50px;
	font-size:24px;
	font-family: Helvetica;
	border-radius: 6px;
	cursor:pointer;
}

#main > #menu > .category{
	padding-bottom: 15px;
	width:100%;
}
#main > #paramshell > .category > .parambox{
	width:calc(197px - 20px);
	padding-left: 10px;
	padding-right:10px;
	padding-top: 20px;
	text-align: center;
}

#main > #paramshell > .category > .parambox > .paramline{
	width:100%;
	text-align:left;
	height:30px;
	line-height:30px;
	font-size:22px;
	font-family: Helvetica;
	background-color: transparent;
	user-select:none;	
}

#main > #paramshell > .category > .parambox > .paramline > .paramname{
	width:70%;
	text-align:left;
	height:100%;
	line-height:100%;
	font-size:16px;
	font-family: Helvetica;
	background-color: transparent;
	user-select:none;
	float:left;
}
#main > #paramshell > .category > .parambox > .paramline > .paramvalue{
	width:30%;
	text-align:center;
	height:20px;
	line-height:100%;
	font-size:16px;
	font-family: Helvetica;
	float:right;
}

#main > #menu > .category > .categoryTitle {
	background: #555;
	text-align: center;
	height:35px;
	line-height: 35px;
	color: #eee;
}

div[class='option'] {
	width:calc(100% - 20px);
	text-align:center;
	height:30px;
	line-height:30px;
	font-size:18px;
	font-family: Helvetica;
	cursor:pointer;

	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;

	background-color: transparent;
	user-select:none;
}

div[class = 'toggle'] {
	width: calc(100% - 10px);
	height: 30px;
	line-height: 30px;
	padding-top: 10px;
	padding-left:5px;
	padding-right:5px;
}

div[class = 'toggleOption'] {
	float:left;
	width: calc(50% - 10px);
	text-align: center;
	height: 100%;
	cursor: pointer;

	margin-left: 5px;
	margin-right: 5px
}

#main > #svg {
	width : calc(100% - 400px);
	height: 100%;
}